<h1 appDemo [custom]="'blue'" [custom2]="'grey'">Author Details</h1><br><br>
<h3>
    <b appDemo [custom]="'red'"[custom2]="'black'">Name</b>: Mithun Kumar <br><br>
    <b appDemo [custom]="'red'"[custom2]="'black'">Age</b> : 24 <br><br>
    <b appDemo [custom]="'red'"[custom2]="'black'">Address</b>: Muthirakalayil House <br><br>
             Edapariyaram P.O <br><br>
             Elanthoor <br><br>
             Pathanamthitta <br><br>
             <b appDemo [custom]="'red'"[custom2]="'black'">Publisher</b>: Global Publisher (P) ltd. <br><br>
               Marine Drive <br><br>
               Kochi <br><br>
               Ernakulam <br><br>
</h3>
