
  <header>
      <h1>My Books</h1>
  </header>
  <div class="container">
      <div class="post">
          <h2 appDemo>"Mrithasanjeevani"</h2>
          <p>Mrithasanjeevani is an extra ordinary fantacy book written by Chandramathi Ayur.
            The story revolves around a boy and his life undergoing through various fantacy lunatic circumstances.
            The plot reveals various myths and believes happening in remotely isolated environment, the tale of the boy then unfolds so much fun dipped in fresh story line.
          </p>
      </div>
      <div class="post">
          <h2 appDemo>"Aadujeevitham"</h2>
          <p>Aadujeevitham is purely based on a true incident. The plot reveals the true incident faced by a man 
            called Najeeb in his real life. The issues he faced and then the way he took to get out of the miseries he
            has been faced is the journey of the book. This is a masterpiece item.
          </p>
      </div>
      <div class="post">
          <h2 appDemo>"Oru Police Surgeonte Oormakuripukal"</h2>
          <p>Oru Police Surgeonte Oormakuripukal is written by Dr. B Umadhathan. He was a forensic surgeon in kerala police.
            The book consist of various extra ordinary exhumation and postmortem incidents conducted by him.
            This includes the Sukumara Kurup case too. The book gives more clarity about the actual protocols and
            the mode of undergoing those procedures. Those who love thrilling reading experience surely go for it.
          </p><br><br><br><br>
          <p>
            <button routerLink="/other">View Author Details</button>
          </p>
      </div>
  </div>
  <router-outlet></router-outlet>
